# Delphi / RAD Studio
*.dcu
*.~*
*.ddp
*.dsk
*.dsm
*.drc
*.dof
*.cfg
*.dsc
*.dproj.local
*.identcache
*.stat
*.skincfg
*.local
*.tvsconfig
*.groupproj.local
*.map
*.rsm
*.tds
*.exe
*.dll
*.bpl
*.dcp
*.dcpil
*.lib
*.a
*.o
*.so
*.apk
*.ipa
*.app
*.dmg
*.log
*.bak
*.tmp
*.cache
*.deployproj

# Build output
Win32/
Win64/
Android/
iOS*/
OSX*/
Linux64/

# IDE history/recovery
__history/
__recovery/
